<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>{{folder.name}}</title>
    <style>
        .new{
            margin-left: 3px;
            margin-top: 3px;
        }
        .d-flex .change{
            display: none;
        }
        .d-flex:hover{
            background-color: rgba(200, 200, 200, 0.3);
        }
        .d-flex:hover .change{
            display: block;
            margin-right: 5px;
        }
        ul{
            list-style-type:initial ;
        }
        .list{
            margin-left: 3px;
        }
        strong{
            font-size: 30px;
            margin-right: 5px;
        }
        .list .bi{
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="new">
        {{#if backward}}
            <a href="/ad-grammar/edit/{{backward}}" class="btn"><i class="bi bi-arrow-left"></i></a>
        {{/if}}
        {{#unless backward}}
            <a href="/ad-grammar" class="btn"><i class="bi bi-arrow-left"></i></a>
        {{/unless}}
        <a href="/ad-grammar/{{folder.slug}}/new_folder" class="btn btn-secondary">New folder</a>
        <a href="/ad-grammar/{{folder.slug}}/new_blog" target="_blank" rel="noopener noreferrer" class="btn btn-success">New blog</a>
    </div>
    <ul>
        <label for="blogs" class="list"><strong>{{folder.name}}</strong><a title="Edit the folder name" href="/ad-grammar/{{folder.slug}}/editname"><i class="bi bi-pencil-square"></i></a></label>
        {{#each content}}
            <li>
                <div class="d-flex">
                    {{#if this.title}}
                        <a href="/eng/grammar/{{this.slug}}" target="_blank" rel="noopener noreferrer" class="p-2 mr-auto">{{this.title}}</a>
                        <a href="/ad-grammar/{{this.parentFolder}}/edit/{{this.slug}}" target="_blank" rel="noopener noreferrer" class="change p-2 btn btn-info">Edit</a>
                        <form action="/ad-grammar/{{this.slug}}?_method=DELETE" method="post">
                            <button class="change p-2 btn btn-danger">Delete</button>
                        </form>
                    {{/if}}
                    {{#unless this.title}}
                        <a href="/eng/grammar/{{this.slug}}" target="_blank" rel="noopener noreferrer" class="p-2 mr-auto">{{this.name}}</a>
                        <a href="/ad-grammar/edit/{{this.slug}}" class="change p-2 btn btn-info">Edit</a>
                        <form action="/ad-grammar/{{this.slug}}?_method=DELETE" method="post">
                            <button class="change p-2 btn btn-danger">Delete</button>
                        </form>
                    {{/unless}}
                </div>
            </li>
        {{/each}}
    </ul>
</body>
</html>